@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
}
p{
    font-size: 15px;
}
/* Navbar */
.container-fluid{
    padding: 3% 15% 1.2%;
}
.nav-item{
    margin: 0 10px;
}
.nav-item a{
    font-size: 15px;
    cursor: pointer;
}
.nav-item a:hover{
    color:  hsl(35, 77%, 62%);
}
/* Others Part */
.others{
    background-color: hsl(240, 100%, 5%);
    text-align: left;
    padding: 2.5%;
}
.others-top{
    color:  hsl(35, 77%, 62%);
}
.others-heading{
    color: #fff;
    font-size: 25px;
}
.others-heading:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
hr {
    border: none;
    background-color: #fff;
    color: #fff;
    height: 1px;
}
.others-questions{
    color: #fff;
}
/* Big part */
.big-pic{
    width: 960px;
}
.read-btn{
    background-color: hsl(5, 85%, 63%);
    margin: 4% 0;
    color: #fff;
    border-radius: 0;
    font-size: medium;
}
.read-btn:hover{
    background-color: black;
    color: #fff;
}
.big-heading{
    font-size: 55px;
    text-align: left;
    font-weight: 800;
    line-height: 1;
    margin-top: 1%;
}
.big-p{
    text-align: left;
    line-height: 2;
    margin-top: 1%;
    color: hsl(236, 13%, 42%);
}
/* Blogs */
.blogs{
    margin: 5% 0;
}
.numbers{
    color:  hsl(233, 8%, 79%);
    font-weight: bolder;
}
.blog-box{
    text-align: left;
    margin: 2% 0;
}
.blog-heading{
    font-weight: 800;
    font-size: large;
    width: 210px;
}
.blog-heading:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.blog-img{
    width: 75%;
}
.blog-p{
    color: hsl(236, 13%, 42%);
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width:375px){
    .big-pic{
        width: 350px;
    }
}